<h2>Projects</h2>

<table border="1" style="border: solid">
    <thead>
    <tr>
        <th>Name</th>
        <th>Git repository url</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for project in object_list %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.git_repository_url }}</td>
            <td><a href="{% url "project_view" project.id %}">view</a></td>
            <td><a href="{% url "project_edit" project.id %}">edit</a></td>
            <td><a href="{% url "project_delete" project.id %}">delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr>
<a href="{% url "project_new" %}">Create new</a>