{% extends 'base.html' %}

{% block title %}Milestones{% endblock %}

{% block content %}
    <table class="table table-sm table-hover table-bordered text-center mt-3">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Project</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for milestone in object_list %}
            <tr>
                <td>{{ milestone.name }}</td>
                <td><a href="{% url "project_view" milestone.projects.id %}">{{ milestone.projects.name }}</a></td>
                <td>{{ milestone.start_date }}</td>
                <td>{{ milestone.end_date }}</td>
                <td>
                    <a href="{% url "milestone_view" milestone.id %}" class="btn btn-sm btn-primary">view</a>
                    <a href="{% url "milestone_edit" milestone.id %}" class="btn btn-sm btn-primary">edit</a>
                    <a href="{% url "milestone_delete" milestone.id %}" class="btn btn-sm btn-danger">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "milestone_new" %}" class="btn btn-outline-primary btn-sm float-right"> + New milestone</a>
{% endblock %}