{% extends 'base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}
<table class="table table-sm table-hover table-bordered text-center mt-3">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Issues</th>
        <th scope="col">Users</th>
        <th scope="col">Time</th>
        <th scope="col">Comment</th>
        <th scope="col">Detail</th>
        <th scope="col">Update</th>

    </tr>
    </thead>
    <tbody>
    {% for comment in object_list %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.issues }}</td>
            <td>{{ comment.author }}</td>
            <td>{{ comment.time }}</td>
            <td>{{ comment.description }}</td>
            <td><a href="{% url 'events:comment_detail' comment.id %}">View</a></td>
            <td><a href="{% url 'events:comment_update' comment.id %}">Update</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if issue_id %}
    <a href="{% url 'events:issue_log' issue_id %}" class="btn btn-outline-danger btn-sm float-right"> Back</a>
{% endif %}
{% endblock %}

